.body-temporaneo {
    background-color: #f5f3f1;
}

.contenitore-card-voglia {
    box-shadow: 
        0px 0px 1px 0px rgba(0, 0, 0, .12),
        0px 1px 5px 0px rgba(0, 0, 0, .04),
        0px 0px 4px 0px rgba(0, 0, 0, .1);
    background-color: #fcfcfc;
    border-radius: 12px;
    box-sizing: border-box;
    color: #242e30;
    font-family: JETSansDigital, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.card-voglia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 324px;
    height: 340px;
    padding: 12px;
    border-radius: 12px;
    background-color: #fff;
}

.highlights-section-card-voglia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 22px;
}

.card-voglia-icona {
    height: 64px;
    width: 64px;
    fill: #f36805;
    margin-bottom: 22px;
}

.elemento-voglia-titolo {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.highlights-section-testo-voglia {
    width: 18.5rem;
}

.card-voglia-spunta {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.icon-voglia-spunta {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.card-voglia-testo {
    font-size: 15px;
    text-align: left;
}

.spazio-in-mezzo {
    margin: 30px;
}

/* Secondo card css */

  .card-svg-ordinare {
    fill: #f36805;
  }

  .contenitore-card-testi_ordinare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 180px;
    padding: 0;
    text-align: center;
  }
  
  .contenitore-card-testi_ordinare h5 {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-start;
    margin: 20px;
  }
  
  .contenitore-card-testi_ordinare p {
    font-size: 9.4pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-start;
    height: 40px;
  }
  
  .contenitore-card-testi_ordinare svg {
    padding: 0;
    height: 80px;
    width: auto;
  }

  /* Terza card css */

  .ricerca-ristorante-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 136px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .03), 0px 3px 1px -2px rgba(0, 0, 0, .07), 0px 1px 5px 0px rgba(0, 0, 0, .06);
    color: #242e30;
    cursor: pointer;
    max-width: 287px;
}

.ricerca-ristorante-card-link {
    cursor: pointer;
    color: #125fca;
    background-color: initial;
    box-sizing: inherit;
    text-decoration: none;
}

.ricerca-ristorante-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    cursor: pointer;
}

.ricerca-ristorante-card-contenitore_immagini {
    position: relative;
    display: block;
}

.ricerca-ristorante-card-immagine {
    display: flex;
    align-items: center;
    width: 100%;
    height: 144px;
    overflow: hidden;
    background-color: #f5f3f1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-sizing: inherit;
}

.Immagine-mcdonald {
    display: flex;
    width: 100%;
    min-height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.ricerca-ristorante-card-logo {
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 48px;
    width: 48px;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #f5f3f1;
}

.ricerca-ristorante-card-testo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
}

.ricerca-ristorante-card-nome {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
    font-size: 16;
    font-weight: 800;
    line-height: 24px;
    color: #242e30;
    text-decoration: none;
}

.ricerca-ristorante-card-tipo {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 4px;
    flex-shrink: 1;
    width: 100%;
    margin: 0;
    margin-top: 4px;
    color: #3c4c4f;
    overflow: hidden;
    box-sizing: inherit;
    padding: 3px;

}

.ricerca-ristorante-card-voto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 700;
    color: #242e30;
    margin: 0 10 0 -10;
    overflow: hidden;
}

.ricerca-card-icona-stella {
    margin-right: 4px;
    fill: #f36805;
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    overflow: hidden;
}

.ricerca-ristorante-card-voti {
    font-weight: 400;
    font-size: 12px;
    padding-left: 4px;
    color: #3c4c4f;
}

.ricerca-ristorante-card-cucina {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    color: #3c4c4f;
    font-weight: 400;
    font-size: 14px;
}

.ricerca-ristorante-card-consegna {
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 4px;
    width: 100%;
    margin: 0;
    margin-top: 4px;
    color: #3c4c4f;
}

.ricerca-ristorante-card-info_consegna {
    position: relative;
    margin-left: 0px;
    margin-right: 16px;
    display: flex;
    justify-content: flex-start;
    padding: 2px 0;
    font-size: 14px;
    line-height: 16px;
}

.ricerca-card-consegna-icona {
    margin-right: 4px;
    display: inline-block;
    position: relative;
    vertical-align: text-top;
}
