<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage card</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body
    class="body-temporaneo"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 70px 0px 0px 0px;
    "
  >
    <div class="section-card-voglia">
      <div class="card-voglia">
        <div class="highlights-section-card-voglia">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            role="presentation"
            focusable="false"
            viewBox="0 0 16 16"
            class="card-voglia-icona"
            width="64"
            height="64"
          >
            <path
              d="M12.375 1.219h-8.75A1.54 1.54 0 0 0 2.094 2.75v7.875a1.54 1.54 0 0 0 1.531 1.531h1.628L8 14.904l2.748-2.748h1.627a1.54 1.54 0 0 0 1.531-1.531V2.75a1.54 1.54 0 0 0-1.531-1.531Zm.219 9.406a.219.219 0 0 1-.219.219h-2.17L8 13.049l-2.205-2.205h-2.17a.219.219 0 0 1-.219-.219V2.75a.219.219 0 0 1 .219-.219h8.75a.219.219 0 0 1 .219.219v7.875ZM8.814 5.83l1.82.263L9.32 7.379l.306 1.811L8 8.341l-1.628.875.307-1.811-1.304-1.313 1.82-.262L8 4.185l.814 1.645Z"
            ></path>
          </svg>

          <h4 class="elemento-voglia-titolo" data-qa="heading">
            La nostra promessa
          </h4>

          <div class="highlights-section-testo-voglia">
            <div class="card-voglia-spunta">
              <span data-qa="icon">
                <svg
                  viewBox="0 0 16 16"
                  width="1em"
                  height="1em"
                  role="presentation"
                  focusable="false"
                  aria-hidden="true"
                  class="icon-voglia-spunta">
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path>
                </svg>
              </span>
              <div class="card-voglia-testo" data-qa="text">
                Servizio eccellente
              </div>
            </div>
            <div class="card-voglia-spunta">
              <span data-qa="icon">
                <svg
                  viewBox="0 0 16 16"
                  width="1em"
                  height="1em"
                  role="presentation"
                  focusable="false"
                  aria-hidden="true"
                  class="icon-voglia-spunta"
                >
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path>
                </svg>
              </span>
              <div class="card-voglia-testo" data-qa="text">
                Recensioni autentiche
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spazio-in-mezzo"></div>
    <div class="contenitore-card-vantaggi_ordinare">
      <div class="contenitore-interno-card_ordinare">
        <div class="contenitore-card-testi_ordinare">
          <div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                focusable="false"
                viewBox="0 0 32 32"
                aria-hidden="true"
                width="100%"
                height="auto"
                class="card-svg-ordinare"
              >
                <path
                  d="M24.75 26.5c0 2.406-4.533 3.5-8.75 3.5-4.218 0-8.75-1.094-8.75-3.5 0-1.313 1.339-2.214 3.15-2.765l1.426 1.435C9.875 25.625 9 26.237 9 26.5c0 .446 2.406 1.75 7 1.75 4.594 0 7-1.304 7-1.75 0-.262-.875-.875-2.826-1.33l1.426-1.435c1.811.551 3.15 1.453 3.15 2.765ZM8.746 19.605a10.255 10.255 0 1 1 14.508 0L16 26.859l-7.254-7.254Zm-1.251-7.254a8.478 8.478 0 0 0 2.485 6.02l6.02 6.02 6.02-6.02a8.513 8.513 0 1 0-14.525-6.02Zm4.13.149a4.376 4.376 0 1 1 8.751 0 4.376 4.376 0 0 1-8.751 0Zm1.75 0a2.624 2.624 0 1 0 5.248 0 2.624 2.624 0 0 0-5.248 0Z"
                ></path>
              </svg>
            </div>

            <h5>Indicaci la tua posizione</h5>
            <p>
              Ti mostreremo i negozi e i ristoranti della tua zona da cui puoi
              ordinare.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
