<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./footer.css">

</head>

<body>
    <div class="footer-head">
        <div class="box-logo">
            <div class="logo-style"><img class="Immagine-logo"
                    src="https://www.justeat.it/consumer-web/images/just-eat-brand.30f1ebe5.svg" width="199" height="48"
                    alt="Just Eat"></div>
        </div>
        <div class="footer-social">
            <p class="Seguici" ;>
                <b>Seguici</b>
            </p>
            <ul class="footer-logosocial">
                <li class="footer-facebook"><a href="https://www.facebook.com/justeatitaly"
                        title="https://www.facebook.com/justeatitaly"><svg 
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="40" height="40">
                            <path
                                d="M8 1.175A6.781 6.781 0 1 0 14.782 8 6.79 6.79 0 0 0 8 1.175Zm0 12.25A5.469 5.469 0 1 1 8 2.487a5.469 5.469 0 0 1 0 10.938Z">
                            </path>
                            <path
                                d="M7.213 6.145v.98H6.058v1.313h1.155v3.167c.234.043.47.064.709.061a3.81 3.81 0 0 0 .708-.06v-3.15h1.06l.2-1.33H8.63V6.25a.656.656 0 0 1 .744-.717h.569V4.5a7 7 0 0 0-1.015-.087 1.601 1.601 0 0 0-1.715 1.732Z">
                            </path>
                        </svg></a></li>
                <li class="footer-instagram"><a href="https://www.instagram.com/justeat_it"
                        title="https://www.instagram.com/justeat_it"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16" width="40" height="40">
                            <path d="M9 8a1 1 0 1 1-2 .001 1 1 0 0 1 2 0Z"></path>
                            <path fill-rule="evenodd"
                                d="M5.504 5.504c.167-.167.334-.27.532-.346.19-.075.408-.126.729-.14.32-.014.422-.018 1.237-.018.815 0 .917.004 1.237.019.32.014.538.064.728.139.197.076.365.179.532.346.166.166.268.334.345.53.073.19.124.41.139.729.015.32.018.422.018 1.237 0 .814-.003.917-.018 1.236-.015.32-.065.538-.14.729-.076.197-.178.364-.345.531-.168.168-.335.27-.532.347-.19.073-.409.124-.729.139-.32.014-.422.018-1.236.018-.815 0-.918-.004-1.237-.018a2.193 2.193 0 0 1-.728-.14 1.472 1.472 0 0 1-.532-.346 1.471 1.471 0 0 1-.347-.531 2.225 2.225 0 0 1-.139-.729C5.004 8.916 5 8.814 5 8c0-.815.004-.918.018-1.237.015-.32.065-.538.14-.728.076-.197.179-.365.346-.531Zm4.459.895a.36.36 0 1 1-.72 0 .36.36 0 0 1 .72 0ZM6.46 8.001a1.54 1.54 0 1 0 3.08 0 1.54 1.54 0 0 0-3.08 0Z"
                                clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                d="M4.237 2.315A6.781 6.781 0 0 1 8 1.175 6.79 6.79 0 0 1 14.78 8 6.781 6.781 0 1 1 4.237 2.315Zm.72 10.186a5.469 5.469 0 1 0 6.086-9.089A5.469 5.469 0 0 0 4.957 12.5Z"
                                clip-rule="evenodd"></path>
                        </svg></a></li>
                <li class="footer-twitter"><a href="https://twitter.com/JustEat_it"
                        title="https://twitter.com/JustEat_it"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16" width="40" height="40">
                            <path fill-rule="evenodd"
                                d="M5.184 5.705c-.277-.33-.49-.615-.49-.615h-.01.012c.072-.001.488-.008.987 0h.989l1.676 2.068.695-.686c.383-.375.855-.847 1.043-1.034l.347-.348h.597L8.633 7.488c0 .004.07.091.181.228.105.13.246.303.398.494.312.392.669.829.793.98l.001.001a609.147 609.147 0 0 1 1.327 1.64c.01.017-.16.017-.98.017h-.99l-.65-.793a290.546 290.546 0 0 1-.918-1.132l-.276-.339-.036.036-.022.022c-.1.1-.52.528-1.012 1.012-.552.543-1.042 1.033-1.096 1.087l-.098.098H4.96c-.17 0-.285-.009-.285-.009 0-.005.206-.21.52-.522l.718-.717 1.337-1.337-.784-.971-.558-.688c-.286-.354-.56-.691-.725-.89Zm2.959 1.863c-.286-.348-.785-.963-1.106-1.364l-.017-.009-.589-.721h-.454c-.357 0-.437.008-.437.017.007.007.15.185.433.533.485.599 1.379 1.703 2.687 3.309l.89 1.105h.455c.357 0 .446-.009.446-.018 0-.005-.163-.206-.406-.505a296.85 296.85 0 0 1-.494-.609l-.331-.41a313.55 313.55 0 0 0-1.077-1.328Z"
                                clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                d="M8 1.18a6.78 6.78 0 1 0 0 13.56A6.78 6.78 0 0 0 8 1.18ZM2.748 7.96a5.252 5.252 0 1 1 10.504 0 5.252 5.252 0 0 1-10.504 0Z"
                                clip-rule="evenodd"></path>
                        </svg></a></li>
                <li class="footer-youtube"><a href="https://youtube.com/@JustEatItalia"
                        title="https://youtube.com/@JustEatItalia"><svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16" width="40" height="40">
                            <path
                                d="M8 1.175A6.781 6.781 0 1 0 14.78 8 6.79 6.79 0 0 0 8 1.175Zm0 12.25A5.469 5.469 0 1 1 8 2.487a5.469 5.469 0 0 1 0 10.938Z">
                            </path>
                            <path
                                d="M10.344 6.129a.76.76 0 0 1 .53.542C11 7.15 11 8.15 11 8.15s0 .998-.125 1.477a.76.76 0 0 1-.53.543c-.469.128-2.345.128-2.345.128s-1.876 0-2.344-.128a.76.76 0 0 1-.53-.543C5 9.147 5 8.15 5 8.15s0-1 .125-1.478a.76.76 0 0 1 .53-.542C6.125 6 8 6 8 6s1.876 0 2.344.129Zm-1.39 2.173-1.568.907V7.395l1.569.907Z">
                            </path>
                        </svg></a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="links-left">
            <div class="titolo">

                <div class=" indice">

                    <div>Just Eat</div>

                    <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false"
                            fill="currentColor" viewBox="0 0 16 16" class="c-pieIcon c-pieIcon--chevron-up" width="24"
                            height="24">
                            <path
                                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                            </path>
                        </svg>
                        <path
                            d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                        </path>
                        </svg>
                    </span>

                </div>

            </div>


            <ul class="lista-links">
                <li class="liste-links">
                    <a class="sito" href="https://www.justeattakeaway.com/" title="Informazioni su Just Eat">
                        <span>Informazioni su just Eat</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/help" title="domande frequenti">
                        <span>Domande Frequenti</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://ristoranti.justeat.it/" title="diventa partner">
                        <span>Diventa partner Just Eat</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito"
                        href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                        title="diventa rider">
                        <span>Diventa rider Just Eat</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://careers.justeattakeaway.com/global/en" title="lavora con noi">
                        <span>Lavora con noi</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/business/" title="just eat for business">
                        <span>Just Eat for business</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/privacy-policy" title="Informativa sulla privacy">
                        <span>Informativa sulla privacy</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/informazioni/miglior-prezzo-garantito"
                        title="Miglior prezzo Garantito">
                        <span>Miglior prezzo garantito</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/legal-information" title="Informazioni legali">
                        <span>Informazioni legali</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/cookies-policy" title="Informativa sui cookie">
                        <span>Informativa sui cookie</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito"
                        href="https://www.justeattakeaway.com/newsroom/it-IT?_gl=1*1huhln5*_gcl_aw*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_dc*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_au*MTE2NDA0MDcxNC4xNzMxOTM3OTEx*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczMzY1ODExMy4xNS4xLjE3MzM2NjY4NTYuMC4wLjA."
                        title="Media e stampa">
                        <span>Media e stampa</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito"
                        href="https://access.justeat.it/auth/realms/it/protocol/openid-connect/auth?client_id=partner-centre&redirect_uri=https%3A%2F%2Fpartner-centre.justeat.it%2Fhome&state=dd0c91ee-2e27-40e3-86e6-0e0872b31447&response_mode=query&response_type=code&scope=openid&nonce=4d8c107f-1891-4e63-bacb-6bc31b3ecae2&ui_locales=it&code_challenge=_VwvZkSKx9L8gchkNVNMSePnLCUGNgKc5WovnxDjbww&code_challenge_method=S256"
                        title="Partner Hub">
                        <span>Partner Hub</span>
                    </a>
                </li>
                <li class="liste-links">
                    <a class="sito" href="https://www.justeat.it/help/report-content-concern"
                        title="Segnala un problema sul contenuto">
                        <span>Segnala un problema sul contenuto</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="info">

            <div class="indice">

                <div>Internazionale</div>

                <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="currentColor"
                        viewBox="0 0 16 16" width="24" height="24">
                        <path
                            d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z">
                        </path>
                    </svg>
                    <path
                        d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                    </path>

                </span>


            </div>

            <div class="indice">

                <div>Cucine</div>

                <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="currentColor"
                        viewBox="0 0 16 16" width="24" height="24">
                        <path
                            d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z">
                        </path>
                    </svg>
                    <path
                        d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                    </path>

                </span>


            </div>

            <div class="indice">

                <div>Esplora</div>

                <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="currentColor"
                        viewBox="0 0 16 16" width="24" height="24">
                        <path
                            d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z">
                        </path>
                    </svg>
                    <path
                        d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                    </path>

                </span>


            </div>

            <div class="indice">

                <div>Città</div>

                <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="currentColor"
                        viewBox="0 0 16 16" width="24" height="24">
                        <path
                            d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z">
                        </path>
                    </svg>
                    <path
                        d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                    </path>

                </span>


            </div>

            <div class="indice">

                <div>Catene</div>

                <span><svg xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" fill="currentColor"
                        viewBox="0 0 16 16" width="24" height="24">
                        <path
                            d="M2.82 5.044 8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 0 1-1.636 0L1.875 5.945l.945-.901Z">
                        </path>
                    </svg>
                    <path
                        d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z">
                    </path>

                </span>


            </div>
        </div>
    </div>

    <div class="last-part">
        <div class="last-links">
            <a class="ultima-classe" href="https://ristoranti.justeat.it/">Diventa partner Just Eat</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://careers.justeattakeaway.com/global/en">Lavora con noi</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://www.justeat.it/terms-and-conditions">Termini di servizio</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://www.justeat.it/privacy-policy">Informativa sulla privacy</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://www.justeat.it/legal-information">Informazioni legali</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://www.justeat.it/cookies-policy">Informativa cookie</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://www.justeat.it/informazioni/bugbounty">Bug bounty</a>
        </div>
        <div class="last-links">
            <a class="ultima-classe" href="https://app.convercent.com/it-it/LandingPage/d8e86634-ec59-ec11-a985-000d3ab9f296">Linea diretta per l'etica</a>
        </div>

    </div>
    <div class="last-just-eat">© 2024 Just Eat</div>


    <b class="preferenze">Vedi preferenze sui cookie</b>


</body>

</html>