.section3 {
  padding: 0px 0px 0px 20px;
  background-color: var(--homepage-download-app-backround-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.left-side3 {
  padding-left: 3rem;
}
.title {
  font-weight: 800;
  font-size: 3rem;
  color: var(--homepage-text-color);
  padding-bottom: 1.2rem;
}
.paragraph {
  font-size: 1.5rem;
  color: var(--homepage-text-color);
  padding-bottom: 5rem;
}
#app-smartphone {
  padding-top: 2.85rem;
  padding-right: 3rem;
}

.links {
  text-decoration: none;
}

@media (max-width: 375px) {
  .section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #app-smartphone {
    width: 160px;
    height: 230px;
  }
  .title {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1rem;
  }
  .left-side3 {
    padding: 0;
  }
  #app-store {
    height: 30px;
    width: 90px;
  }
  #google-play {
    height: 30px;
    width: 90px;
  }
}

@media (max-width: 768px) {
  .section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #app-smartphone {
    width: 160px;
    height: 230px;
  }
  .title {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1rem;
  }
  .left-side3 {
    padding: 0;
  }
  #app-store {
    height: 30px;
    width: 90px;
  }
  #google-play {
    height: 30px;
    width: 90px;
  }
}
