/* contenitore esterno effettiva navbar */
.contenitore-navbar-homepage-esterno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* contenitore bottoni ordine aziendale, diventa rider, diventa partner, accedi, lingua, hamburger menu */
.contenitore-navbar-homepage-interno {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.riempimento-casa-just-eat-svg {
  fill: var(--homepage-text-color-orange);
  width: 2em;
  height: 2em;
}

.parte-centrale-navbar {
  display: flex;
  gap: 2rem;
}

/* css testo bottone */

.dimensioni-button-seconda-nav {
  border-radius: 2rem;
  padding: 0.7rem;
  border: none;
  background-color: var(--homepage-backround-color);
  cursor: pointer;
}

.dimensioni-button-seconda-nav:hover {
  background-color: rgb(245, 245, 247);
  transition: all 0.8s;
}

.contenitore-button-seconda-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  gap: 0.2rem;
  font-family: var(--font-family);
  color: var(--homepage-text-color);
}

.dimensione-testo-button-seconda-nav {
  padding-top: 0.25rem;
}

/* riempimento-minore-svg*/
.riempimento-minore-svg {
  fill: var(--homepage-text-color-orange);
}

/* ordine consegna */
.contenitore-consegna-ritiro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--homepage-backround-color);
  border-radius: 2rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.pulsante-consegna {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--homepage-text-color);
  border-radius: 2rem;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: 0.5px 0.5px 5px 0.5px gray;
}

.pulsante-ritiro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--homepage-text-color);
  cursor: pointer;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
}

.riempimento-svg-arancione {
  fill: var(--homepage-text-color-orange);
}

/* bottoni */
.contenitore-button-nav {
  font-size: 0.9rem;
  padding-top: 0.1rem;
  font-weight: 700;
  color: var(--homepage-text-color);
}

.contenitore-lingua-hamburger {
  display: flex;
}

/* css lingua bottone*/
.bottone-nav-lingua {
  background-color: white;
  padding: 0.7rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottone-nav-lingua:hover {
  background-color: rgb(245, 245, 247);
  transition: all 0.8s;
}

/* css hamburger bottone*/
.bottone-dimensioni-hamburger-menu {
  background-color: white;
  padding: 0.7rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottone-dimensioni-hamburger-menu:hover {
  background-color: rgb(245, 245, 247);
  transition: all 0.8s;
}
/* fine navbar */

/* inizio navabr images */
.allineamento-lista {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.quadrato-colorato-pizza {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  background-color: mediumslateblue;
  cursor: pointer;
}

.quadrato-colorato-panino {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  background-color: orange;
  cursor: pointer;
}

.quadrato-colorato-fritti {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  background-color: darkgoldenrod;
  cursor: pointer;
}

.quadrato-colorato-insalata {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  background-color: green;
  cursor: pointer;
}

.quadrato-colorato-poke {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: deepskyblue;
}

.quadrato-colorato-spesa {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(255, 174, 0);
}
.quadrato-colorato-italiano {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(68, 38, 97);
}
.quadrato-colorato-americano {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 100%;
  max-width: 100%;
  height: 66px;
  width: 114px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(189, 20, 231);
}

.ridimensionamento-image {
  position: absolute;
  width: 110px;
  height: 70px;
}

.testo-accanto-spunta {
  font-family: var(--font-family);
  font-size: 0.8rem;
}

.contenitore-spunta-testo {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0.5rem;
}

.la-spunta-non-si-vede svg {
  opacity: 0;
  transform: translateX(0px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.testo-accanto-spunta {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: pointer;
}

.contenitore-spunta-testo:hover .la-spunta-non-si-vede svg {
  opacity: 1;
  transform: translateX(0);
}

.contenitore-spunta-testo:hover .testo-accanto-spunta {
  transform: translateX(5px);
}

.dimensioni-button-mostra-di-piu {
  border-radius: 1rem;
  height: 66px;
  width: 114px;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.dimensioni-button-mostra-di-piu:hover {
  background-color: whitesmoke;
}

/* fine navbar images */

.restuarant-list-layout-page {
  padding: 20px 350px 20px 350px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 4px 10px -2px inset rgba(0, 0, 0, 0.2);
}
.restuarant-list-layout-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}
/* inizio sidebar */

.sidebar {
  width: 30%;
  padding: 10px;
  border-radius: 8px;
}

.restaurants-title {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--homepage-text-color);
  padding-bottom: 1.6rem;
}

.sidebar-restaurant-titles {
  font-size: 1rem;
  font-weight: 800;
  color: var(--homepage-text-color);
  padding: 1rem 0rem 1.4rem 0rem;
}

.dropdown-title {
  font-weight: 600;
  padding-right: 0.5rem;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.6rem;
}

.toggle span {
  font-weight: 800;
  font-size: 1.2rem;
}

.toggle input {
  width: 20px;
  height: 20px;
}

.filter-section label {
  display: flex;
  margin: 5px 0;
  color: var(--homepage-text-color);
}

.filter-section input[type="checkbox"],
.filter-section input[type="radio"] {
  margin-right: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #797876;
  transition: 0.4s;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.slider::before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--homepage-text-color-orange);
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.tick-checkbox {
  position: absolute;
  left: 60%;
}

input + .slider > .tick-checkbox {
  fill: #797876;
}

input:checked + .slider > .tick-checkbox {
  fill: var(--homepage-text-color-orange);
}

.min-import {
  display: flex;
  align-items: center;
}

.sale {
  display: flex;
  align-items: center;
}

.info-svg {
  fill: var(--homepage-text-color-orange);
  margin: 0rem 0rem 0.5rem 0.5rem;
  cursor: pointer;
}

.radio-checkbox {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  accent-color: var(--homepage-text-color-orange);
}

.stars-container {
  padding: 0rem 0rem 1.4rem 0rem;
  cursor: pointer;
}

.stars {
  fill: var(--homepage-text-color-orange);
  cursor: pointer;
}

.checkbox-bottom {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  accent-color: var(--homepage-text-color-orange);
}

.checkbox-filters {
  align-items: center;
  cursor: pointer;
  accent-color: var(--homepage-text-color-orange);
}

#disabled {
  color: #ccc;
}

#disabled input {
  cursor: not-allowed;
}
/* fine sidebar */

.search-bar-principal-container {
  display: flex;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
}
.input-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* inizio search-bar */

.contenitore-ristoranti {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#search-container {
  display: flex;
  border: 1px solid var(--homepage-text-color);
  border-radius: 130px;
  cursor: text;
  color: var(--homepage-text-color);
}

#search-container:hover {
  background-color: var(--homepage-backround-color);
}

#address {
  padding: 1rem 17rem 1rem 0rem;
  outline-style: none;
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#address:active {
  background-color: transparent;
}
/* fine search-bar */

/* inizio options-select */
.dropdown h3 {
  display: flex;
  align-items: center;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-button {
  background-color: #fff;
  border: 1px solid var(--homepage-text-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  color: #68797d;
  padding: 0.8rem;
}

.bottone-risultato-migliore {
  padding-right: 0rem;
}

.dropdown-button:hover {
  cursor: pointer;
  background-color: var(--homepage-backround-color);
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
#svg-dropdown {
  padding: 0px 0px 0px 20px;
  box-sizing: unset;
}
/* fine options-select */

/* inizio button map */
.dimensione-contenitore-mappa {
  padding: 1rem;
  border-radius: 5rem;
  background-color: #f5f3f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dimensione-contenitore-mappa:hover {
  background-color: #ebeaea;
}
/* fine button map */

/* inizio restaurants */
.lista-ristoranti-zona {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.65rem;
}
.titolo-ristoranti-zona_testo {
  padding: 1rem 0rem 1rem 0rem;
}
.ristoranti-ricerca-ordina_titolo {
  display: flex;
  align-items: center;
}

.titolo-ristoranti-ordina {
  padding: 1rem 0.5rem 1rem 0rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.icona-info-ricerca {
  margin-top: 0.25rem;
  cursor: pointer;
}

.ricerca-ristorante-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 8.5rem;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03),
    0px 3px 1px -2px rgba(0, 0, 0, 0.07), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  color: #242e30;
  cursor: pointer;
  min-width: 18.188rem;
  margin-right: 0.625rem;
}

.ricerca-ristorante-card-link {
  cursor: pointer;
  color: #125fca;
  background-color: initial;
  box-sizing: inherit;
  text-decoration: none;
}

.ricerca-ristorante-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  cursor: pointer;
}

.ricerca-ristorante-card-contenitore_immagini {
  position: relative;
  display: block;
}

.ricerca-ristorante-card-immagine {
  display: flex;
  align-items: center;
  width: 100%;
  height: 9rem;
  overflow: hidden;
  background-color: #f5f3f1;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  box-sizing: inherit;
}

.Immagine-mcdonald {
  display: flex;
  width: 100%;
  min-height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.ricerca-ristorante-card-logo {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.313rem;
  border: 0.125rem solid #fff;
  background-color: #f5f3f1;
}

.ricerca-ristorante-card-testo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
}

.ricerca-ristorante-card-nome {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  width: 100%;
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 16;
  font-weight: 800;
  line-height: 1.5rem;
  color: #242e30;
  text-decoration: none;
}

.ricerca-ristorante-card-tipo {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  flex-shrink: 1;
  width: 100%;
  margin: 0;
  margin-top: 0.25rem;
  color: #3c4c4f;
  overflow: hidden;
  box-sizing: inherit;
  padding: 0.188rem;
}

.ricerca-ristorante-card-voto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 700;
  color: #242e30;
  margin: 0 10 0 -10;
  overflow: hidden;
}

.ricerca-card-icona-stella {
  margin-right: 0.25rem;
  fill: #f36805;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  overflow: hidden;
}

.ricerca-ristorante-card-voti {
  font-weight: 400;
  font-size: 0.75rem;
  padding-left: 0.25rem;
  color: #3c4c4f;
}

.ricerca-ristorante-card-cucina {
  position: relative;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  display: flex;
  color: #3c4c4f;
  font-weight: 400;
  font-size: 0.875rem;
}

.ricerca-ristorante-card-consegna {
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  width: 100%;
  margin: 0;
  margin-top: 0.25rem;
  color: #3c4c4f;
}

.ricerca-ristorante-card-info_consegna {
  position: relative;
  margin-left: 0px;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.125rem 0;
  font-size: 0.875rem;
  line-height: 1rem;
}

.ricerca-card-consegna-icona {
  margin-right: 0.25rem;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}
/* fine restaurants */

/* inizio restaurants orizzontali */
.ricerca-card-orizzontale {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 8.5rem;
  border-radius: 0.875rem;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03),
    0px 3px 1px -2px rgba(0, 0, 0, 0.07), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  color: #242e30;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0.625rem;
}

.ricerca-card-link {
  cursor: pointer;
  text-decoration: none;
}

.ricerca-card-ristorante {
  flex-direction: row;
  display: flex;
}

.immagine-card-loghi {
  position: relative;
}

.immagine-ricerca-ristorante {
  max-width: 100%;
  max-height: 100%;
  border-bottom-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  display: flex;
  align-items: center;
  min-height: 9rem;
  overflow: hidden;
}

.immagine-ricerca-ristorante img {
  display: flex;
  min-height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.logo-ricerca-ristorante {
  bottom: 1rem;
  left: 0.75rem;
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 0.313rem;
  border: 0.125rem solid #fff;
  background-color: #f5f3f1;
}

.fedeltà-ricerca-ristorante {
  bottom: 1rem;
  right: 1rem;
  position: absolute;
}

.carta-fedeltà-ristorante {
  background-color: #ffead4;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  border: 0.063rem solid #ffead4;
  font-weight: 400;
  gap: 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  padding: 0 0.313rem;
  justify-content: center;
  vertical-align: middle;
  color: #242e30;
  text-decoration: none;
}

.testo-info-ristoranti {
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
}

.testo-info-nome {
  flex-shrink: 0;
  font-size: 1.25rem;
  width: 100%;
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: 800;
  color: #242e30;
  text-decoration: none;
}

.testo-info-voti_tipo {
  flex-shrink: 0;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  width: 100%;
  margin: 0;
  margin-top: 0.25rem;
  color: #3c4c4f;
}

.testo-info-voti {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.875rem;
  font-weight: 700;
  color: #242e30;
  margin-right: 0.625rem;
}

.info-icona-stella {
  fill: #f36805;
  margin-right: 0.25rem;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}

.ristoranti-quantità-voti {
  padding-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #3c4c4f;
}

.testo-info-tipo {
  display: flex;
  position: relative;
  color: #3c4c4f;
}

.testo-info-opzioni_consegna {
  overflow: hidden;
  flex-shrink: 0;
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 0.25rem;
  width: 100%;
  margin: 0;
  margin-top: 0.25rem;
  color: #3c4c4f;
}

.testo-info-consegna {
  position: relative;
  margin-left: 0px;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.125rem 0;
  font-size: 0.875rem;
  line-height: 1rem;
}

.testo-info-gratuito {
  position: relative;
  margin-left: 0px;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.125 0;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  background-color: #f6c243;
  padding: 0rem 0.375rem;
}

.ricerca-icona-info {
  margin-right: 0.25rem;
}
/* fine restaurants orizzontali */
/* inizio footer */
.last-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 8px;
  gap: 20px;
  background-color: var(--homepage-footer-backround-color);
}

.last-links {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  color: #242e30;
  text-decoration: none;
  font-size: 0.8rem;
}

.last-links:hover {
  cursor: pointer;
  color: #242e30;
  text-decoration-line: underline;
}

.ultima-classe {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  color: #242e30;
}

.ultima-classe {
  color: #242e30;
  text-decoration: none;
}

.ultima-classe:hover {
  cursor: pointer;
  color: #242e30;
  text-decoration-line: underline;
}

.preferenze {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  color: var(--homepage-text-color);
  background-color: var(--homepage-footer-backround-color);
}

.preferenze:hover {
  cursor: pointer;
  color: var(--homepage-text-color);
  text-decoration-line: underline;
}

.last-just-eat {
  display: flex;
  justify-content: center;
  padding: 0.25rem 16px 12px;
  color: var(--homepage-text-color);
  background-color: var(--homepage-footer-backround-color);
}
/* fine footer */

/* mobile */
@media (min-width: 320px) and (max-width: 576px) {
  /* navbar */
  /* testo bottoni none perchè non servono in modalità mobile*/
  .contenitore-consegna-ritiro,
  .immagine-just-eat-homepage,
  .bottone-nav-lingua,
  .contenitore-input,
  .contenitore-ristoranti,
  .sidebar {
    display: none;
  }

  .allineamento-lista {
    overflow-x: auto;
    margin: 0rem 1rem 0rem 1rem;
  }

  .contenitore-consegna-ritiro-mobile {
    display: flex;
    justify-content: space-between;
    background-color: var(--homepage-backround-color);
    border-radius: 2rem;
    margin: 0rem 1rem 0rem 1rem;
  }

  .contenitore-input-svg-mobile {
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem 0rem 1rem;
  }

  .search-bar-principal-container {
    padding: 1rem 0rem 0rem 0rem;
  }

  #address {
    padding: 0;
  }
  #search-container {
    padding: 0;
    width: 12rem;
    height: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    background-color: var(--homepage-backround-color);
  }

  .dimensione-contenitore-mappa {
    padding: 0.6rem;
  }

  .svg-mappa {
    width: 16px;
    height: 16px;
  }

  .svg-allineamento-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;
  }

  .contenitore-sidebar-svg {
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  }

  .contenitore-sidebar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem 1rem 0rem 1rem;
  }

  .contenitore-offerta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.4rem;
    background-color: white;
  }

  .bottone-consegna {
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 10.5rem;
    background-color: white;
  }

  .bottone-carta {
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 7.8rem;
    background-color: white;
  }

  .stelle {
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 5.2rem;
    background-color: white;
  }

  .aperto {
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 6rem;
    background-color: white;
  }

  .nuovo {
    padding: 0.4rem;
    border-radius: 2rem;
    width: 6rem;
  }

  .halal {
    padding: 0.4rem;
    border-radius: 2rem;
    width: 6rem;
  }

  .offerta {
    background-color: inherit;
  }

  .contenitore-bottoni-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .contenitore-ordina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0.4rem;
    background-color: white;
  }

  .ordina {
    width: 5rem;
  }

  /* card */
  .restuarant-list-layout-page {
    padding: 0;
    display: inherit;
  }

  .lista-ristoranti-zona {
    min-width: 320px;
  }

  .immagine-ricerca-ristorante img {
    min-width: 320px;
  }
  .lista-ristoranti-ricerca {
    min-width: 320px;
  }
  .ricerca-card-ristorante {
    display: inherit;
  }

  .testo-info-ristoranti {
    padding: 0.5rem;
  }

  .testo-info-nome {
    font-size: 1rem;
  }

  .testo-info-tipo {
    font-size: 0.8rem;
  }

  .testo-info-consegna {
    font-size: 0.8rem;
  }

  .last-part {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .ultima-classe {
    padding: 0rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /*tablet*/
  /*immagine senza padding left*/
  .immagine-just-eat-homepage {
    padding-left: 0rem;
  }
  /* mobile hamburger menu*/
  .bottone-dimensioni-hamburger-menu {
    padding: 0.7rem;
    border-radius: 2rem;
  }

  /* testo bottoni none perchè non servono in modalità mobile*/
  .contenitore-consegna-ritiro,
  .immagine-just-eat-homepage,
  .bottone-nav-lingua,
  .contenitore-input,
  .contenitore-ristoranti {
    display: none;
  }

  .allineamento-lista {
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* tablet */
  /*immagine senza padding left*/
  .immagine-just-eat-homepage {
    padding-left: 0rem;
  }

  /* tablet lingua menu*/
  .bottone-nav-lingua {
    padding: 0.5rem;
  }

  /* tablet hamburger menu*/
  .bottone-dimensioni-hamburger-menu {
    padding: 0.5rem;
  }
  .testo-buttone-diventa-partner,
  .contenitore-consegna-ritiro,
  .riempimento-casa-just-eat-svg,
  .contenitore-input,
  .contenitore-ristoranti {
    display: none;
  }

  .allineamento-lista {
    overflow-x: auto;
  }
}

@media (min-width: 992px) {
  .riempimento-casa-just-eat-svg,
  .contenitore-consegna-ritiro-mobile,
  .contenitore-input-svg-mobile {
    display: none;
  }
}
