<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componente input barra di ricerca ristoranti</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./address_search.css" />
  </head>
  <body
    style="
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
    "
  >
    <div class="search-bar">
      <div id="input-container">
        <input
          type="text"
          id="address"
          placeholder="Indirizzo completo"
          required
        />
        <button type="button" id="search">Cerca</button>
      </div>
    </div>
  </body>
</html>
