<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File input</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body
    style="
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
    "
  >
    <div class="search-bar">
      <div class="label-container">
        <div id="input-container">
          <input
            type="text"
            id="address"
            placeholder="Indirizzo completo"
            required
          />
            <button
            type="button"
            id="search">Cerca</button>
        </div>
      </div>
    </div>
  </body>
</html>
<input