.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--homepage-backround-color);
  border-radius: 30px;
  padding: 5px;
}

.switch-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  color: var(--homepage-text-color);
  cursor: pointer;
}

.switch-option.active {
  background-color: #fff;
  color: var(--homepage-text-color);
  font-weight: bold;
}

#svg-bike,
#svg-ritiro {
  fill: var(--homepage-text-color-orange);
}
