<!DOCTYPE html>
<!-- variante dei bottoni della navbar -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./button-nav-text.css" />
  </head>
  <body
    style="
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
    "
  >
    <a
      ><button class="dimensioni-button-nav">
        <!-- dimensioni del bottone -->
        <span
          ><div class="contenitore-button-nav">
            <!-- allineamento contenuti del bottone -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              width="24"
              height="24"
            >
              <!-- classe di orientamento all'interno del bottone-->
              <path
                d="M12.375 2.094h-8.75a1.54 1.54 0 0 0-1.531 1.531v10.281h11.812V3.625a1.54 1.54 0 0 0-1.531-1.531Zm.219 10.5H8.656v-1.969H7.344v1.969H3.406V3.625a.219.219 0 0 1 .219-.219h8.75a.219.219 0 0 1 .219.219v8.969Zm-3.719-7h1.75v1.312h-1.75V5.594Zm-3.5 0h1.75v1.312h-1.75V5.594Zm3.5 2.625h1.75V9.53h-1.75V8.22Zm-3.5 0h1.75V9.53h-1.75V8.22Z"
              ></path>
            </svg>
            <div class="dimensione-testo-button-nav">Ordine aziendale</div>
            <!-- allineamento testo all'svg -->
          </div></span
        >
      </button></a
    >
  </body>
</html>
