.riempi-svg {
  fill: var(--homepage-text-color-orange);
}

.dimensione-bottone-tornasu {
  padding: 1.5rem;
  border-radius: 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 8px 20px -3px, rgba(0, 0, 0, 0.06) 0px 4px 8px -2px;
}
