<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./button-nav-lingua.css" />
    <title>Button Lingua</title>
  </head>
  <body
    style="
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
    "
  >
    <div>
      <button class="bottone-nav-lingua">
        <span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            fill="riempi-svg"
            viewBox="0 0 16 16"
            width="24"
            height="24"
          >
            <path fill="#EEE" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Z"></path>
            <path
              fill="#D80027"
              d="M15 8a7 7 0 0 0-4.566-6.563v13.126A7 7 0 0 0 15 8Z"
            ></path>
            <path
              fill="#6DA544"
              d="M1 8a7 7 0 0 0 4.566 6.563V1.437A7 7 0 0 0 1 8Z"
            ></path></svg
        ></span>
      </button>
    </div>
  </body>
</html>
