.bottone-dimensioni-hamburger-menu {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
}

.bottone-dimensioni-hamburger-menu:hover {
  background-color: rgb(245, 245, 247);
  transition: all 0.8s;
}
