<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>links</title>
    <link rel="stylesheet" href="index.css">
</head>

<body style=" min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
     margin: 0 auto;">
    <div class="_1sMed _2JYYu _2cDMI" data-qa="download-app-section-android-link"><a class="_9NUh1 qT7x_"
            href="https://justeat-it.app.link/web-playstore" tabindex="0" aria-label="Vai al Google Play Store"
            data-qa="link">
            <div class="lazy-image-style_wrapper__8JaH8">
                <figure class="_3MNml" data-qa="picture" style="width: 134px; height: auto;"><img
                        src="https://www.justeat.it/consumer-web/images/download-google-play.a220a276.png"
                        alt="Scarica l’app Android" aria-hidden="true" width="134px" height="auto"></figure>
            </div>
        </a></div>
</body>
</html>