<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="linkscorrelati.css">
</head>

<body style=" min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
     margin: 0 auto;">
    <a class="linkscorrelati" href="https://www.justeattakeaway.com" title="Informazioni su Just Eat" tabindex="0"
        data-qa="footer-text-link"><span class="footer-expanded-style_item__7CcX6">Informazioni su Just Eat</span></a>
</body>

</html>