<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body
style=" min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
     margin: 0 auto;">
    <a class="_9NUh1 qT7x_" href="https://www.facebook.com/justeatitaly" target="_blank"
        title="https://www.facebook.com/justeatitaly" tabindex="0" aria-label="Facebook" data-qa="link"><svg
            xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false"
            fill="var(--xds-color-content-default)" viewBox="0 0 16 16" class="c-pieIcon c-pieIcon--facebook-circle"
            width="40" height="40">
            <path
                d="M8 1.175A6.781 6.781 0 1 0 14.782 8 6.79 6.79 0 0 0 8 1.175Zm0 12.25A5.469 5.469 0 1 1 8 2.487a5.469 5.469 0 0 1 0 10.938Z">
            </path>
            <path
                d="M7.213 6.145v.98H6.058v1.313h1.155v3.167c.234.043.47.064.709.061a3.81 3.81 0 0 0 .708-.06v-3.15h1.06l.2-1.33H8.63V6.25a.656.656 0 0 1 .744-.717h.569V4.5a7 7 0 0 0-1.015-.087 1.601 1.601 0 0 0-1.715 1.732Z">
            </path>
        </svg></a>
</body>

</html>