<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="linkcookie.css">
</head>

<body style=" min-height: 100vh; 
display: flex;
justify-content: center;
align-items: center;
max-width: 600px;
 margin: 0 auto;" >
    <b class="linkscookie" role="button" tabindex="0"
        data-qa="check-cookie-preferences">Vedi preferenze sui cookie</b>
</body>
</html>