<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="image-navbar.css" />
    <link rel="stylesheet" href="./../../common.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul class="allineamento-lista">
        <!-- prima image -->

        <li>
          <div role="button">
            <div class="quadrato-colorato-panino">
              <img
                class="ridimensionamento-image"
                src="../../../assets/images/hamburger.webp"
                alt="panino"
              />
            </div>
            <span class="contenitore-spunta-testo">
              <span class="la-spunta-non-si-vede"
                ><svg viewBox="0 0 16 16" width="1em" height="1em">
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path></svg
              ></span>
              <span class="testo-accanto-spunta">Panini</span></span
            >
          </div>
        </li>

        <!-- seconda image -->
        <li>
          <div role="button">
            <div class="quadrato-colorato-pizza">
              <img
                class="ridimensionamento-image"
                src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,h_180,w_245/f_auto/q_auto/v1/it/filter-images/pizza"
                alt="pizza"
              />
            </div>
            <span class="contenitore-spunta-testo">
              <span class="la-spunta-non-si-vede"
                ><svg
                  viewBox="0 0 16 16"
                  width="1em"
                  height="1em"
                  class="dimensioni-svg-spunta"
                >
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path></svg
              ></span>
              <span class="testo-accanto-spunta">Pizza</span></span
            >
          </div>
        </li>

        <!-- terza image -->
        <li>
          <div role="button">
            <div class="quadrato-colorato-fritti">
              <img
                class="ridimensionamento-image"
                src="../../../assets/images/fritti.webp"
                alt="fritti"
              />
            </div>
            <span class="contenitore-spunta-testo">
              <span class="la-spunta-non-si-vede"
                ><svg viewBox="0 0 16 16" width="1em" height="1em">
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path></svg
              ></span>
              <span class="testo-accanto-spunta">Fritti</span></span
            >
          </div>
        </li>

        <!-- quarta image -->
        <li>
          <div role="button">
            <div class="quadrato-colorato-insalata">
              <img
                class="ridimensionamento-image"
                src="../../../assets/images/healthy.webp"
                alt="insalata"
              />
            </div>
            <span class="contenitore-spunta-testo">
              <span class="la-spunta-non-si-vede"
                ><svg viewBox="0 0 16 16" width="1em" height="1em">
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path></svg
              ></span>
              <span class="testo-accanto-spunta">Insalata</span></span
            >
          </div>
        </li>

        <!-- quinta image-->
        <li>
          <div role="button">
            <div class="quadrato-colorato-poke">
              <img
                class="ridimensionamento-image"
                src="../../../assets/images/poke.webp"
                alt="poke"
              />
            </div>
            <span class="contenitore-spunta-testo">
              <span class="la-spunta-non-si-vede"
                ><svg viewBox="0 0 16 16" width="1em" height="1em">
                  <path
                    d="M5.865 12.489a1.217 1.217 0 01-.875-.385L1.875 8.656l.98-.875 3.028 3.369 7.253-7.822.963.875-7.35 7.875a1.216 1.216 0 01-.875.385l-.009.026z"
                  ></path></svg
              ></span>
              <span class="testo-accanto-spunta">Pokè</span></span
            >
          </div>
        </li>

        <li>
          <button class="dimensioni-button-mostra-di-piu">
            <b>Mostra di più</b>
          </button>
        </li>
      </ul>
    </div>
  </body>
</html>
