<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sezione 3</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./section3.css" />
  </head>
  <body>
    <div class="section3">
      <div class="left-side3">
        <div class="title">
          <h3>Scarica l'App</h3>
        </div>
        <div class="paragraph">
          <span>Il tuo piatto preferito è a portata di click!</span>
        </div>
        <a
          class="links"
          href="https://apps.apple.com/us/app/just-eat-food-delivery/id566347057?mt=8&_branch_match_id=1393617715337917227&utm_source=Homepage&utm_campaign=homepage-download-button&utm_medium=website-homepage&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXzyotLklNLNFLLCjQy8nMy9YvT03SBXKKS%2FKLUu3rilLTUouKMvPS45OK8suLU4tsnTOK8nNTAbSJxIA%2FAAAA"
          target="blank"
        >
          <img
            id="app-store"
            src="../../assets/images/download-ios.00848a3e.png"
            width="150"
            height="50"
          />
        </a>
        <a
          class="links"
          href="https://play.google.com/store/apps/details?id=com.justeat.app.it&_branch_match_id=1393617715337917227&utm_source=Homepage&utm_campaign=homepage-download-button&utm_medium=website-homepage&_branch_referrer=H4sIAAAAAAAAAwXBQQqAIBAF0BOp%2ByBadJBQ%2BKVlOvyZkDadvfeymegUwvmoIZor5qOIr6VdYSA5qfFV68TyETvI0o4tsQ8F5zWz3/gBy/nBs0MAAAA%3D&pli=1"
          target="blank"
        >
          <img
            id="google-play"
            src="../../assets/images/download-google-play.a220a276.png"
            width="169"
            height="50"
          />
        </a>
      </div>
      <div class="right-side3">
        <img
          id="app-smartphone"
          src="../../assets/images/mobile-app-on-phone-it.5232f829.png"
          width="320"
          height="454"
        />
      </div>
    </div>
  </body>
</html>
