<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sezione-linksdestra.css" />
    <link rel="stylesheet" href="../../common.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="links-left">
        <div class="titolo">
          <div class="lista-link-just-eat">
            <div class="container-just-eat">Just Eat</div>

            <span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                focusable="false"
                fill="currentColor"
                viewBox="0 0 16 16"
                class="c-pieIcon c-pieIcon--chevron-up"
                width="24"
                height="24"
              >
                <path
                  d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
                ></path>
              </svg>
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              >
              </path>
            </span>
          </div>
        </div>

        <ul class="lista-links">
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeattakeaway.com/"
              title="Informazioni su Just Eat"
            >
              <span>Informazioni su just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/help"
              title="domande frequenti"
            >
              <span>Domande Frequenti</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://ristoranti.justeat.it/"
              title="diventa partner"
            >
              <span>Diventa partner Just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
              title="diventa rider"
            >
              <span>Diventa rider Just Eat</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://careers.justeattakeaway.com/global/en"
              title="lavora con noi"
            >
              <span>Lavora con noi</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/business/"
              title="just eat for business"
            >
              <span>Just Eat for business</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/privacy-policy"
              title="Informativa sulla privacy"
            >
              <span>Informativa sulla privacy</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/informazioni/miglior-prezzo-garantito"
              title="Miglior prezzo Garantito"
            >
              <span>Miglior prezzo garantito</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/legal-information"
              title="Informazioni legali"
            >
              <span>Informazioni legali</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/cookies-policy"
              title="Informativa sui cookie"
            >
              <span>Informativa sui cookie</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeattakeaway.com/newsroom/it-IT?_gl=1*1huhln5*_gcl_aw*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_dc*R0NMLjE3MzM1NzQxNTguQ2owS0NRaUFnZEM2QmhDZ0FSSXNBUFdOV0gxVDlHOHhKR1F5VDktc3dJei1jUE5MQks1akh5V1RRR2xxb1IxS19WcnJubllkSzJCX1dpRWFBdDdfRUFMd193Y0I.*_gcl_au*MTE2NDA0MDcxNC4xNzMxOTM3OTEx*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczMzY1ODExMy4xNS4xLjE3MzM2NjY4NTYuMC4wLjA."
              title="Media e stampa"
            >
              <span>Media e stampa</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://access.justeat.it/auth/realms/it/protocol/openid-connect/auth?client_id=partner-centre&redirect_uri=https%3A%2F%2Fpartner-centre.justeat.it%2Fhome&state=dd0c91ee-2e27-40e3-86e6-0e0872b31447&response_mode=query&response_type=code&scope=openid&nonce=4d8c107f-1891-4e63-bacb-6bc31b3ecae2&ui_locales=it&code_challenge=_VwvZkSKx9L8gchkNVNMSePnLCUGNgKc5WovnxDjbww&code_challenge_method=S256"
              title="Partner Hub"
            >
              <span>Partner Hub</span>
            </a>
          </li>
          <li class="liste-links">
            <a
              class="sito"
              href="https://www.justeat.it/help/report-content-concern"
              title="Segnala un problema sul contenuto"
            >
              <span>Segnala un problema sul contenuto</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="info">
        <div class="indice-1">
          <div class="container-internazionale">Internazional</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="c-pieIcon c-pieIcon--chevron-up"
              width="24"
              height="24"
            >
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>
        <div class="right-links">
          <div class="prime-links">
            <ul class="lista-links-1">
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeattakeaway.com/?_gl=1*1nv6w2o*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA."
                  title="Investor Relations"
                >
                  <span>Investor Relations</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.bistro.sk/ "
                  title="Bistro.sk"
                >
                  <span>Bistro.sk</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.grubhub.com/"
                  title="GrubHub"
                >
                  <span>GrubHub</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href=" https://www.just-eat.ch/?_gl=1*1hkvn2y*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA."
                  title="Just-Eat Switzerland"
                >
                  <span>Just Eat - Switzerland</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href=" https://www.just-eat.fr/?_gl=1*1hkvn2y*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA."
                  title="Just-Eat France"
                >
                  <span>Just Eat - France</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.just-eat.dk/?_gl=1*1hkvn2y*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="just eat Denmark"
                >
                  <span>Just Eat - Denmark </span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.just-eat.es/ "
                  title="Just-Eat Spain"
                >
                  <span>Just Eat - Spain </span>
                </a>
              </li>
            </ul>
          </div>

          <div class="second-links">
            <ul class="lista-links-2">
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.just-eat.co.uk/"
                  title="Just Eat United Kingdom"
                >
                  <span>Just Eat - United Kingdom</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.just-eat.ie/"
                  title="Just Eat Ireland"
                >
                  <span>Just Eat - Ireland</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/ "
                  title="Just Eat Italy"
                >
                  <span>Just Eat - Italy</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.lieferando.at/?_gl=1*1ksg11o*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="Lieferando.at"
                >
                  <span>Lieferando.at</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.lieferando.de/?_gl=1*1ksg11o*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA."
                  title="Lieferando.de"
                >
                  <span>Lieferando.de</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.menulog.com.au/ "
                  title="Menulog-Australia"
                >
                  <span>Menulog - Australia</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.pyszne.pl/?_gl=1*1k6d86f*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="Pysnze.pl"
                >
                  <span>Pyszne.pl</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="three-links">
            <ul class="lista-links-3">
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.skipthedishes.com/"
                  title="SkipTheDishes"
                >
                  <span>SkipTheDishes</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.takeaway.com/be?_gl=1*1to10tq*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="Takeaway-Belgium"
                >
                  <span>Takeaway.com - Belgium</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.takeaway.com/lu?_gl=1*1to10tq*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="Takeway-luxemburg"
                >
                  <span>Takeaway.com - Luxembourg</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.takeaway.com/bg?_gl=1*1to10tq*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA. "
                  title="Takeaway-Bulgaria"
                >
                  <span>Takeaway.com - Bulgaria</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.thuisbezorgd.nl/?_gl=1*1t1r151*_gcl_aw*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_dc*R0NMLjE3MzU4MjE3MzUuQ2owS0NRaUFqOW03QmhEMUFSSXNBTnNJSXZDMnhfdHZicHFKeGRpZ3B1VlcyY19iQTR4TWp1WGg1WmstTjdQSEZwcVlGZE1VaVdNeFVXTWFBdkx1RUFMd193Y0I.*_gcl_au*MjEzMDUwNTkwNi4xNzMzNjY2OTQ2*_ga*YTU3MjRlMGQtZWNmYy00ZDBiLWExZjktYjU1NTljNTZiM2Ew*_ga_4PH28YDTSD*MTczNTgyMTczNS4yOC4xLjE3MzU4MjE3NDguMC4wLjA."
                  title="Thuisbezorgd.nl"
                >
                  <span>Thuisbezorgd.nl</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a class="sito" href="https://www.10bis.co.il/" title="10bis">
                  <span>10bis</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="indice-1">
          <div>Cucine</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="c-pieIcon c-pieIcon--chevron-up"
              width="24"
              height="24"
            >
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>
        <div class="right-links">
          <div class="prime-links">
            <ul class="lista-links-1">
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeattakeaway.com/"
                  title="Pizza"
                >
                  <span>Pizza</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/help"
                  title="Sushi"
                >
                  <span>Sushi</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://ristoranti.justeat.it/"
                  title="Kebab"
                >
                  <span>Kebab</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="pokè"
                >
                  <span>Pokè</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Gelato"
                >
                  <span>Gelato</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="second-links">
            <ul class="lista-links-2">
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Dolci"
                >
                  <span>Dolci</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="Cibo cinese"
                >
                  <span>Cibo cinese</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="Hamburger"
                >
                  <span>Hamburger</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="Supermercato-Spesa online"
                >
                  <span>Supermercato-Spesa online</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Cibo Italiano"
                >
                  <span>Cibo Italiano</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="three-links">
            <ul class="lista-links-3">
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Panini"
                >
                  <span>Panini</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="Colazione"
                >
                  <span>Colazione</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="Pollo"
                >
                  <span>Pollo</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="diventa rider"
                >
                  <span>Cibo Messicano</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="tutti i tipi di cucina"
                >
                  <span>Tutti i tipi di cucina</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="indice-1">
          <div>Esplora</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="c-pieIcon c-pieIcon--chevron-up"
              width="24"
              height="24"
            >
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>
        <div class="right-links">
          <div class="prime-links">
            <ul class="lista-links-1">
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeattakeaway.com/"
                  title="Blog"
                >
                  <span>Blog</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/help"
                  title="Sostenibilità"
                >
                  <span>Sostenibilità</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="second-links">
            <ul class="lista-links-2">
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Osservatorio Just Eat Awards 2024"
                >
                  <span>l'Osservatorio Just Eat 2024</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="just eat awards 2024"
                >
                  <span>Just Eat Awards 2024</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="three-links">
            <ul class="lista-links-3">
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="cosa mangiare oggi"
                >
                  <span>Cosa mangiare oggi</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="partners"
                >
                  <span>Partners</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="indice-1">
          <div>Città</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="c-pieIcon c-pieIcon--chevron-up"
              width="24"
              height="24"
            >
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>
        <div class="right-links">
          <div class="prime-links">
            <ul class="lista-links-1">
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeattakeaway.com/"
                  title="Roma"
                >
                  <span>Roma</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/help"
                  title="Milano"
                >
                  <span>Milano</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://ristoranti.justeat.it/"
                  title="Torino"
                >
                  <span>Torino</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="Bologna"
                >
                  <span>Bologna</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Napoli"
                >
                  <span>Napoli</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="second-links">
            <ul class="lista-links-2">
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Genova"
                >
                  <span>Genova</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="Trieste"
                >
                  <span>Trieste</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="Bari"
                >
                  <span>Bari</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="Firenze"
                >
                  <span>Firenze</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Palermo"
                >
                  <span>Palermo</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="three-links">
            <ul class="lista-links-3">
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Pisa"
                >
                  <span>Pisa</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="Ferrara"
                >
                  <span>Ferrara</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="Parma"
                >
                  <span>Parma</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="Tutte le città"
                >
                  <span>Tutte le città</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="indice-1">
          <div>Catene</div>

          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              role="presentation"
              focusable="false"
              fill="currentColor"
              viewBox="0 0 16 16"
              class="c-pieIcon c-pieIcon--chevron-up"
              width="24"
              height="24"
            >
              <path
                d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
              ></path>
            </svg>
            <path
              d="M13.18 10.97 8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 0 1 1.671 0l5.25 5.495-.945.901Z"
            >
            </path>
          </span>
        </div>

        <div class="right-links">
          <div class="prime-links">
            <ul class="lista-links-1">
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeattakeaway.com/"
                  title="Mcdonald's"
                >
                  <span>McDonald's</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/help"
                  title="burger king"
                >
                  <span>Burger King</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://ristoranti.justeat.it/"
                  title="old wild west"
                >
                  <span>Old Wild West</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="La piadineria"
                >
                  <span>La piadineria</span>
                </a>
              </li>
              <li class="liste-links-1">
                <a
                  class="sito-1"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Alice pizza"
                >
                  <span>Alice Pizza</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="second-links">
            <ul class="lista-links-2">
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Informazioni su Just Eat"
                >
                  <span>Poke House</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="Carrefour"
                >
                  <span>Carrefour</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="fratelli la bufala"
                >
                  <span>Fratelli la Bufala</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://www.justeat.it/rider?utm_source=mainsite&utm_medium=Referral&utm_campaign=RC_M_WS_ITA_IT_[SCOOB]_[AWRN]_[OWMD]_[Italian]"
                  title="Hamerica's"
                >
                  <span>Hamerica's</span>
                </a>
              </li>
              <li class="liste-links-2">
                <a
                  class="sito"
                  href="https://careers.justeattakeaway.com/global/en"
                  title="Starbucks"
                >
                  <span>Starbucks</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="three-links">
            <ul class="lista-links-3">
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeattakeaway.com/"
                  title="Informazioni su Just Eat"
                >
                  <span>Sushiko</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://www.justeat.it/help"
                  title="domande frequenti"
                >
                  <span>Zushi</span>
                </a>
              </li>
              <li class="liste-links-3">
                <a
                  class="sito"
                  href="https://ristoranti.justeat.it/"
                  title="diventa partner"
                >
                  <span>Tutte le catene</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
